extends layout

block content
    div(class='row')
        div(class='col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box')
            form(role='form', action='/detail', method='get', class='f1')
                h3 Decision Details
                fieldset
                    p Twitter Handle: #{data['twitter']}
                    p Decision: #{data['decision']}
                    p Agent: #{data['agent']}
                    p Expiration: #{data['expiration']}
                    div(class="collapse" id="tweets")
                        hr
                        h4 Tweet Information
                        each tweet in data['tweets']
                            div(class="panel panel-#{tweet['type']}")
                                div(class='panel-heading') Sending Date: #{tweet['date']}
                                div(class='panel-body')
                                    each item in tweet['content']
                                        if item['type'] == 'text'
                                            |  #{item['content']}
                                        else if item['type'] == 'keyword'
                                            |  #[a(class="btn btn-#{item['level']} btn-xs", data-toggle="popover", role="button", data-trigger="focus", tabindex="0", data-placement="bottom", title="#{item['reasonTitle']}", data-content="#{item['reasonContent']}") #{item['content']}]
                                        else if item['type'] == 'at'
                                            a  #{item['content']}
                                        else if item['type'] == 'tag'
                                            a  #{item['content']}
                    hr
                    h4 Decision History
                    each decision in data['history']
                        div(class="panel panel-primary")
                            div(class='panel-heading') Change Date: #{decision['date']}
                            div(class='panel-body')
                                p=decision['agent'] + ": " + decision['action']
                    hr
                    div(class='f1-buttons')
                        input(type="hidden" name="id" value=decisionId)
                        button(class='btn btn-primary' type="button" data-toggle="collapse" data-target="#tweets"
                        aria-expanded="false" aria-controls="tweets") Show Flag Tweets
                        button(type='submit', class='btn btn-yes', name='action', value='increase') Increase Retention by 1 Month
                        button(type='submit', class='btn btn-warning', name='action', value='changeDecision') Change Decision
                        button(type='button', class='btn btn-submit', name='action', value='back', onclick='history.go(-1);') Back

block script